<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <script>
        tailwind.config = {
            theme: {
                screens: {
                    sm: '480px',
                    md: '768px',
                    lg: '976px',
                    xl: '1440px',
                },
                // colors: {
                //     'blue': '#1fb6ff',
                //     'purple': '#7e5bef',
                //     'pink': '#ff49db',
                //     'orange': '#ff7849',
                //     'green': '#13ce66',
                //     'yellow': '#ffc82c',
                //     'gray-dark': '#273444',
                //     'gray': '#8492a6',
                //     'gray-light': '#d3dce6',
                // },
                fontFamily: {
                    sans: ['Graphik', 'sans-serif'],
                    serif: ['Merriweather', 'serif'],
                },
                extend: {
                    spacing: {
                        '128': '32rem',
                        '144': '36rem',
                    },
                    borderRadius: {
                        '4xl': '2rem',
                    }
                }
            }
        }
    </script>
</head>
<body>
